/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Background */
html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

/* Header */
h1 {
  color: white;
  font-family: meno-banner, serif;
  font-size: 6rem;
  letter-spacing: 0.02em;
  margin: 24% 0 0;
  text-align: center;
}

/* Profile image */
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.image-container img {
	animation: float 3s ease-in-out infinite;
	-webkit-animation: float 3s ease-in-out infinite;
  border-radius: 50%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  width: 100%;
}

/* Picture animation */
@keyframes float {
	0% { transform: translatey(0px); }
	50% { transform: translatey(-8px); }
	100% { transform: translatey(0px); }
}

@-webkit-keyframes float { /* Safari */
	0% { transform: translatey(0px); }
	50% { transform: translatey(-8px); }
	100% { transform: translatey(0px); }
}

/* Social icons */
.social-row {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 30px;
  max-width: 450px;
}

.social-item {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 40px;
  height: 60px;
  justify-content: center;
  width: 60px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

.icon {
  font-size: 35px
}

.icon-image {
  max-height: 23px;
}

/* Colors */
.instagram {
  background-color: #cd486b;
}
.instagram:hover {
  background-color: #BB244D;
}

.facebook {
  background-color: #3b5998;
}
.facebook:hover {
  background-color: #224389;
}

.mixcloud {
  background-color: #1d2d3b;
}
.mixcloud:hover {
  background-color: #11212f;
}

.soundcloud {
  background-color: #f73a0e;
}
.soundcloud:hover {
  background-color: #C32702;
}

.spotify {
  background-color: #1DB954;
}
.spotify:hover {
  background-color: #137736;
}

/* Hover animations */
.instagram, .facebook, .mixcloud, .soundcloud, .spotify {
  transition: all .2s ease-in-out;
}
.instagram:hover, .facebook:hover, .mixcloud:hover, .soundcloud:hover, .spotify:hover {
  transform: scale(1.1);
}

.soundcloud-player {
  display: block;
  z-index: 1;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 5rem;
  }

  .image-container {
    margin-top: 50px;
  }

  .social-row {
    margin-bottom: 30px;
  }
}
